* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.big-container {
  max-width: 1400px;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.7rem;
  margin-bottom: 0;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.1rem;
  font-weight: 700;
}

h4 {
  font-size: clamp(16px, 1.5vw, 20px);
  font-weight: 700;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  margin: 10px 0;
}

header {
  display: flex;
  flex-direction: column;
}

.logo {
  margin-top: 44px;
  width: 61px;
  height: 19px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 63px;
}
nav ul {
  display: flex;
}
.menu-nav {
  list-style-type: none;
  padding: 48px 23.5px 0 23.5px;
  border-top: 2px solid white;
}

.menu-nav:hover {
  border-top: 2px #0065fc solid;
  color: #0065fc;
}

.menu-nav a:hover {
  color: #0065fc;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: black;
}

.container {
  display: flex;
}

.fa-info {
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  width: 24px;
  height: 24px;
  padding: 5px 10px 7px 10px;
  margin-right: 10px;
  text-align: center;
  background-color: white;
  font-size: 10px;
}

.fa-solid {
  color: #0065fc;
}

.fa-magnifying-glass {
  display: none;
}

.greystar {
  color: #f2f2f2;
}

.searchbar {
  border: none;
  margin-top: 10px;
  margin-bottom: 15px;
}

.fa-location-dot {
  width: 14px;
  height: 54px;
  padding: 18px 25px;
  background-color: #f2f2f2;
  color: black;
  border-radius: 15px 0 0 15px;
}

#search-city {
  border: solid 2px #f2f2f2;
  height: 54px;
  font-size: 18px;
  font-weight: 700;
  padding-left: 18px;
}
#search-city:focus::placeholder {
  color: transparent;
}
#Rechercher {
  border-radius: 0 20px 20px 0;
  height: 53px;
  color: white;
  font-weight: 700;
  background-color: #0065fc;
  border: none;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
}

.filters {
  margin-bottom: 20px;
  align-items: center;
  width: 100%;
}
.filters h3 {
  margin-right: 20px;
}
.filters-wrap {
  display: flex;
  gap: 3em;
}

.filters-select {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: nowrap;
  gap: 3em;
}

.btn-filter {
  background-color: white;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  padding: 10px 10px;
  font-size: clamp(11px, 2vw, 17px);
  font-weight: 600;
}

.btn-filter:hover {
  background-color: #deebff;
}

.icon-filter {
  margin: 0 10px 0 5px;
}

.infobar {
  margin-top: 0px;
  margin-bottom: 20px;
  align-items: center;
}

.hotels {
  background-color: #f2f2f2;
  border-radius: 20px;
}

.accommodations {
  justify-content: space-between;
}

.results {
  width: 66%;
  padding: 30px 20px 40px 20px;
}

.most-popular {
  width: 33%;
  padding-top: 30px;
}
.hotels-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 32%;
  border-radius: 20px;
  margin-bottom: 20px;
}

.hotel-card img {
  width: 100%;
  height: 124px;
  object-fit: cover;
  justify-content: center;
  border-radius: 20px 20px 0 0;
  padding: 5px;
}

.hotel-details {
  padding: 4.5px 26px 11px 16px;
}
.hotel-price {
  font-size: clamp(12px, 2vw, 16px);
}

.hotels.most-popular {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.most-popular > h2 {
  display: flex;
  justify-content: space-between;
}

.hotels-popular-list {
  padding: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotels-popular-list {
  display: flex;
}

.hotel-card-pop {
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
}

.hotel-card-pop img {
  width: 40%;
  height: 144px;
  object-fit: cover;
  justify-content: center;
  border-radius: 20px 0 0 20px;
  padding: 5px;
}

.pop-details {
  padding: 16px 22px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pop-price {
  font-size: clamp(12px, 2vw, 16px);
}

.activities {
  margin-top: 60px;
  margin-bottom: 61px;
}

.act-list {
  margin-top: 20px;
  justify-content: space-between;
}
.act-card {
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  width: 24%;
  justify-content: center;
  margin-bottom: 20px;
}

.act-card img {
  width: 100%;
  height: 85%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  justify-content: center;
}
.act-card h4 {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
}

.hotel-card:hover,
.hotel-card-pop:hover,
.act-card:hover {
  transform: scale(1.05, 1.05);
}

footer {
  padding-top: 30px;
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-right: 150px;
  justify-content: space-between;
}

.footer-col {
  margin-right: 4rem;
}

.menu-footer {
  padding-top: 15px;
  padding-bottom: 20px;
}

.item-footer {
  list-style: none;
  padding-bottom: 12px;
  font-size: clamp(11px, 2vw, 18px);
}
